<p>catalog works!</p>
<section>
  @defer (on hover) {
    <app-category></app-category>
  } @placeholder (minimum 500) {
    <section class="catalog">
      <div class="product">
        <h1>Categories will load when you hover the Div</h1>
      </div>
    </section>
  }
</section>
<section class="catalog">
  <div class="product">
    @for (item of products(); track item.id) {
      <div class="product-card">
        <img src="{{ item.image }}" alt="{{ item.title }}" class="product-image">
        <div class="product-info">
          <h3>{{ item.id }}</h3>
          <h3 class="product-title">{{ item.title }} </h3>
          <p class="product-description">{{ item.description }}</p>
          <p class="product-price">{{ item.price }} лв.</p>
          <a routerLink="details/{{item.id}}">
            <button class="add-to-cart">Details</button>
          </a>
        </div>
      </div>
    } @empty {
      <li>There are no items.</li>
    }
  </div>

</section>

