<nav class="navbar">
  <div class="navbar-logo">
    <img ngSrc="/assets/images/logo.jpg" alt="My App Logo" height="434" width="449"/>
  </div>
  <ul class="navbar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/fav">Favourites</a></li>
    <li><a href="/basket">Basket</a></li>
    <li><a href="/catalog">Catalog</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
  <div class="navbar-links">
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </div>
</nav>
